<% link_id = "update_link_#{task.id}" %>
<li id="task-<%= task.id %>" class="<%= task.done? ? 'done' : '' %>">
    <%= fa_icon "reorder", class: "handle" %>
  <span class="content" data-target-link-id="<%= link_id %>">
    <%= fa_icon "check-square-o" %>
    <%= fa_icon "square-o" %>
    <%= task.title %>
  </span>
  <%= link_to fa_icon('trash-o'), task_path(task), method: :delete, remote: true, class: "delete" %>
</li>
<%= link_to "(Mark #{task.done? ? 'Undone' : 'Done'})", task_path(task, done: task.done?), method: :patch, remote: true, id: link_id %>