<section id="mytasks">
  <h1>My Tasks</h1>

  <div class="well">
    <%= simple_form_for @new_task, html: { class: 'form-inline' } do |f| %>
      <%= f.input :title, label: false, placeholder: "Please be organized by creating TODO tasks", autofocus: true %>
      <%= f.submit "Create", class: "btn btn-sm btn-success"%>
    <% end %>
  </div>

  <ul class="list-ul">
    <% Task.all.each do |task| %>
      <li class="<%= task.done? ? 'done' : '' %>">
      <i class="fa fa-check-square-o"></i>
      <i class="fa fa-square-o"></i>
      <%= task.title %>
      <%= link_to "(Mark #{task.done? ? 'Undone' : 'Done'})", task_path(task), method: :patch %>
      </li>
    <% end %>
  </ul>
</section>